@import '../../assets/stylesheets/application.scss';

.hello {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1:first-child {
        margin-top: auto;
    }

    @media (max-width: $breakpoint-tablet-x) and (min-width: $breakpoint-tablet-y) {
        & > p {
            font-size: 1.25rem;
        }
    }

    @media (max-width: $breakpoint-tablet-y) {
        h1 {
            font-size: 7vw;
        }
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    max-width: 37.5rem;
    margin-top: auto;

    svg {
        height: 2rem;
        width: 2rem;
    }

    @media (max-width: $breakpoint-tablet-x) and (min-width: $breakpoint-tablet-y) {
        max-width: 15rem;
        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    
}

.socialsItem {
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: 2rem min-content;
    grid-column-gap: 7.5px;
    transition: all .2s;
    margin-right: 7.5px;

    p {
        color: currentColor;
    }

    @media (max-width: $breakpoint-tablet-x) and (min-width: $breakpoint-tablet-y) {
        grid-column-gap: 3px;
    }
}