@import '../../assets/stylesheets/application.scss';

.container {
    height: 100vh;
    overflow: hidden;

    @media (max-width: $breakpoint-tablet-y) and (min-width: $breakpoint-mobile) {
        display: none;
    }

    @media (max-width: $breakpoint-mobile) {
        height: 60vh;
    }
}

.headshot {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
    transition: all .2s ease-out;
    width: 100%;

    &:hover {
        transform: scale(1.015);
    }
}